<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Person Info</h1>
<form th:method="patch" th:action="@{/people/{id}(id=${person.id()})}" th:object="${person}">
    <label for="firstName">First Name</label>
    <input id="firstName" type="text" th:field="*{name}"  placeholder="Name">

    <label for="yearOfBirth">year of birth</label>
    <input id="yearOfBirth" type="date" th:field="*{born}" placeholder="yearOfBirth">

    <input type="submit" value="Submit">
</form>
</body>
</html>
